@import '_utilities'

.fightArea
    @include mobile-7
        gap: 5px

#char,
#monster
    @include mobile-7
        font-size: 0.5rem

.rounds
    @include mobile-7    
        font-size: 0.5rem

.arena

    .player, .bot
        @include mobile-7
            width: 78px
            height: 78px
            


.containerB

    .buttonsAndLog
        @include mobile-7
            width: 125px

        .attacks
            @include mobile-7
                width: max-content
                margin: 0.2rem auto

            .attackButton1
                @include mobile-7
                    font-size: 0.7rem
            
            .revanche
                @include mobile-7
                    font-size: 0.7rem               

        .log
            @include mobile-7
                width: 100px

            &::-webkit-scrollbar
                

            &::-webkit-scrollbar-thumb
                
            li
                @include mobile-7
                    font-size: 0.6rem

            .luta
                

            .round
                
                
            .Samurai


            .Monstro




    .statistics
        @include mobile-7
            width: 100%
            padding: 0 0.5rem
        
        h1
            @include mobile-7
                font-size: 0.9rem

        .divPlacar           
            
            .charPlacar, .monsterPlacar
                
                label
                    @include mobile-7
                        width: 80%
                        font-size: 0.6rem
                        
            strong
                @include mobile-7
                    margin: 0 0.3rem
                    font-size: 0.5rem
