@media (max-width: 1024px) and (max-height: 600px) {
  #char,
#monster {
    font-size: 1rem;
  }
}
@media (max-width: 920px) {
  #char,
#monster {
    font-size: 1rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  #char,
#monster {
    font-size: 1rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  #char,
#monster {
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  #char,
#monster {
    font-size: 0.5rem;
  }
}
@media (max-width: 425px) {
  #char,
#monster {
    font-size: 0.5rem;
  }
}
@media (max-width: 340px) {
  #char,
#monster {
    font-size: 0.5rem;
  }
}
@media (max-width: 280px) {
  #char,
#monster {
    font-size: 0.5rem;
  }
}

@media (max-width: 580px) {
  .info .status .buffer {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 425px) {
  .info .status .buffer {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 340px) {
  .info .status .buffer {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 280px) {
  .info .status .buffer {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .info .status .buffer p {
    width: 15rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 1rem;
  }
}
@media (max-width: 920px) {
  .info .status .buffer p {
    width: 15rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 1rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .info .status .buffer p {
    width: 15rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 1rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .info .status .buffer p {
    width: 13rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  .info .status .buffer p {
    width: 7rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 0.5rem;
  }
}
@media (max-width: 425px) {
  .info .status .buffer p {
    width: 7rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 0.5rem;
  }
}
@media (max-width: 340px) {
  .info .status .buffer p {
    width: 7rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 0.5rem;
  }
}
@media (max-width: 280px) {
  .info .status .buffer p {
    width: 4rem;
    margin: 0.5rem 0;
    right: 80px;
    font-size: 0.5rem;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .rounds {
    font-size: 1rem;
  }
}
@media (max-width: 920px) {
  .rounds {
    font-size: 1rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .rounds {
    font-size: 1rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .rounds {
    font-size: 1rem;
  }
}
@media (max-width: 580px) {
  .rounds {
    font-size: 0.5rem;
  }
}
@media (max-width: 425px) {
  .rounds {
    font-size: 0.5rem;
  }
}
@media (max-width: 340px) {
  .rounds {
    font-size: 0.5rem;
  }
}
@media (max-width: 280px) {
  .rounds {
    font-size: 0.5rem;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .arena .player, .arena .bot {
    width: 98px;
    height: 98px;
  }
}
@media (max-width: 920px) {
  .arena .player, .arena .bot {
    width: 98px;
    height: 98px;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .arena .player, .arena .bot {
    width: 98px;
    height: 98px;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .arena .player, .arena .bot {
    width: 98px;
    height: 98px;
  }
}
@media (max-width: 580px) {
  .arena .player, .arena .bot {
    width: 78px;
    height: 78px;
  }
}
@media (max-width: 425px) {
  .arena .player, .arena .bot {
    width: 78px;
    height: 78px;
  }
}
@media (max-width: 340px) {
  .arena .player, .arena .bot {
    width: 78px;
    height: 78px;
  }
}
@media (max-width: 280px) {
  .arena .player, .arena .bot {
    width: 78px;
    height: 78px;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .chao {
    height: 50px;
  }
}
@media (max-width: 920px) {
  .chao {
    height: 50px;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .chao {
    height: 40px;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .chao {
    height: 40px;
  }
}
@media (max-width: 580px) {
  .chao {
    height: 30px;
  }
}
@media (max-width: 425px) {
  .chao {
    height: 30px;
  }
}
@media (max-width: 340px) {
  .chao {
    height: 30px;
  }
}
@media (max-width: 280px) {
  .chao {
    height: 30px;
  }
}

@media (max-width: 1024px) and (max-height: 600px) {
  .container3 .buttonsAndLog {
    width: 230px;
  }
}
@media (max-width: 920px) {
  .container3 .buttonsAndLog {
    width: 230px;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .container3 .buttonsAndLog {
    width: 230px;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .container3 .buttonsAndLog {
    width: 230px;
  }
}
@media (max-width: 580px) {
  .container3 .buttonsAndLog {
    width: 190px;
  }
}
@media (max-width: 425px) {
  .container3 .buttonsAndLog {
    width: 175px;
  }
}
@media (max-width: 340px) {
  .container3 .buttonsAndLog {
    width: 125px;
  }
}
@media (max-width: 280px) {
  .container3 .buttonsAndLog {
    width: 125px;
  }
}
@media (max-width: 920px) {
  .container3 .buttonsAndLog .attacks {
    width: max-content;
    margin: 0.2rem 0.5rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .container3 .buttonsAndLog .attacks {
    width: max-content;
    margin: 0.2rem 0.5rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .container3 .buttonsAndLog .attacks {
    width: max-content;
    margin: 0.2rem 0.5rem;
  }
}
@media (max-width: 580px) {
  .container3 .buttonsAndLog .attacks {
    width: max-content;
    margin: 0.2rem 0.5rem;
  }
}
@media (max-width: 425px) {
  .container3 .buttonsAndLog .attacks {
    width: max-content;
    margin: 0.2rem 0.5rem;
  }
}
@media (max-width: 340px) {
  .container3 .buttonsAndLog .attacks {
    width: max-content;
    margin: 0.2rem 0.5rem;
  }
}
@media (max-width: 280px) {
  .container3 .buttonsAndLog .attacks {
    width: max-content;
    margin: 0.2rem 0.5rem;
  }
}
@media (max-width: 580px) {
  .container3 .buttonsAndLog .attacks .attackButton1 {
    font-size: 0.7rem;
  }
}
@media (max-width: 425px) {
  .container3 .buttonsAndLog .attacks .attackButton1 {
    font-size: 0.7rem;
  }
}
@media (max-width: 340px) {
  .container3 .buttonsAndLog .attacks .attackButton1 {
    font-size: 0.7rem;
  }
}
@media (max-width: 280px) {
  .container3 .buttonsAndLog .attacks .attackButton1 {
    font-size: 0.7rem;
  }
}
@media (max-width: 580px) {
  .container3 .buttonsAndLog .attacks .revanche {
    font-size: 0.7rem;
  }
}
@media (max-width: 425px) {
  .container3 .buttonsAndLog .attacks .revanche {
    font-size: 0.7rem;
  }
}
@media (max-width: 340px) {
  .container3 .buttonsAndLog .attacks .revanche {
    font-size: 0.7rem;
  }
}
@media (max-width: 280px) {
  .container3 .buttonsAndLog .attacks .revanche {
    font-size: 0.7rem;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .container3 .buttonsAndLog .log {
    width: 210px;
  }
}
@media (max-width: 920px) {
  .container3 .buttonsAndLog .log {
    width: 210px;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .container3 .buttonsAndLog .log {
    width: 210px;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .container3 .buttonsAndLog .log {
    width: 210px;
  }
}
@media (max-width: 580px) {
  .container3 .buttonsAndLog .log {
    width: 170px;
  }
}
@media (max-width: 425px) {
  .container3 .buttonsAndLog .log {
    width: 150px;
  }
}
@media (max-width: 340px) {
  .container3 .buttonsAndLog .log {
    width: 100px;
  }
}
@media (max-width: 280px) {
  .container3 .buttonsAndLog .log {
    width: 100px;
  }
}
@media (max-width: 580px) {
  .container3 .buttonsAndLog .log li {
    font-size: 0.6rem;
  }
}
@media (max-width: 425px) {
  .container3 .buttonsAndLog .log li {
    font-size: 0.6rem;
  }
}
@media (max-width: 340px) {
  .container3 .buttonsAndLog .log li {
    font-size: 0.6rem;
  }
}
@media (max-width: 280px) {
  .container3 .buttonsAndLog .log li {
    font-size: 0.6rem;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .container3 .statistics {
    width: 28%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 920px) {
  .container3 .statistics {
    width: 28%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .container3 .statistics {
    width: 28%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .container3 .statistics {
    width: 30%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 690px) {
  .container3 .statistics {
    width: 35%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 580px) {
  .container3 .statistics {
    width: 35%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 425px) {
  .container3 .statistics {
    width: 35%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 340px) {
  .container3 .statistics {
    width: 100%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 280px) {
  .container3 .statistics {
    width: 100%;
    padding: 0 0.5rem;
  }
}
@media (max-width: 920px) {
  .container3 .statistics h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .container3 .statistics h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .container3 .statistics h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 690px) {
  .container3 .statistics h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 580px) {
  .container3 .statistics h1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  .container3 .statistics h1 {
    font-size: 0.9rem;
  }
}
@media (max-width: 340px) {
  .container3 .statistics h1 {
    font-size: 0.9rem;
  }
}
@media (max-width: 280px) {
  .container3 .statistics h1 {
    font-size: 0.9rem;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media (max-width: 920px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media (max-width: 690px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 90%;
    font-size: 1.5rem;
  }
}
@media (max-width: 580px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 80%;
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 80%;
    font-size: 0.6rem;
  }
}
@media (max-width: 340px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 80%;
    font-size: 0.6rem;
  }
}
@media (max-width: 280px) {
  .container3 .statistics .divPlacar .charPlacar label,
.container3 .statistics .divPlacar .monsterPlacar label {
    width: 80%;
    font-size: 0.6rem;
  }
}
@media (max-width: 1200px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 920px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 840px) and (max-height: 1180px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 780px) and (max-height: 1024px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 690px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.8rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 580px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.5rem;
    font-size: 1rem;
  }
}
@media (max-width: 425px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.3rem;
    font-size: 0.5rem;
  }
}
@media (max-width: 340px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.3rem;
    font-size: 0.5rem;
  }
}
@media (max-width: 280px) {
  .container3 .statistics .divPlacar strong {
    margin: 0 0.3rem;
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=responsive.css.map */
